# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignore JAR files
*.jar

# Ignore SNAPSHOT files
*SNAPSHOT*

# Ignore events files
events/
